<div class="modal-header film-modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update film</h4>
</div>
<div class="modal-body film-modal-body">
    <form>
        <div class="mb-3">
            <label for="title">Title</label>
            <div class="input-group">
                <input required maxlength=100 id="title" class="form-control film-modal-control" type="text" [formControl]="title" />
            </div>
            <p class="d-flex justify-content-between validation-error">
                <small>{{title.value?.length}} / 100</small>
                <small *ngIf="title.invalid && (title.dirty || title.touched)" class="validation-error-text" >Title is required</small>
            </p>
            <label for="year">Year</label>
            <div class="input-group">
                <input id="year" required min=0 max=9999 maxlength=4 class="form-control film-modal-control" type="number"
                    [formControl]="year" />
            </div>
            <p *ngIf="year.errors?.['required'] && (year.dirty || year.touched)" class="validation-error">
                <small class="validation-error-text">Year is required</small>
            </p>
            <p *ngIf="(year.errors?.['min'] || year.errors?.['max']) && (year.dirty || year.touched)" class="validation-error">
                <small class="validation-error-text">Year must be between 0 and 9999</small>
            </p>
            <label for="plot">Plot</label>
            <div class="input-group validation-error">
                <textarea id="plot" required maxlength="300" class="form-control film-modal-control" type="text" [formControl]="plot"> </textarea>
            </div>
            <p class="d-flex justify-content-between validation-error">
                <small>{{plot.value?.length}} / 300</small>
                <small *ngIf="plot.errors?.['required'] && (plot.dirty || plot.touched)" class="validation-error-text">Plot is required</small>
            </p>
        </div>
    </form>
</div>
<div class="modal-footer film-modal-footer">
    <button type="button" [disabled]="isSaveDisabled()" class="btn btn-primary" (click)="onSave()">Save</button>
    <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
</div>