.validation-error-text {
    color:red
}

.film-modal-header {
    background-color: var(--cardBgColor);
    color: var(--textColor);
}

.film-modal-body {
    background-color: var(--cardBgColor);
    color: var(--textColor);
}

.film-modal-footer {
    background-color: var(--cardBgColor);
    color: var(--textColor);
}

.film-modal-control {
    background: var(--formTextBoxBgColor);
    color: var(--textColor);
}