<label for="{{label}}">{{label}}</label>
<div class="input-group validation-error">
    <textarea id="{{label}}" required maxlength="{{maxCharacters}}" class="form-control film-form-control" type="text" [formControl]="formControl"> </textarea>
</div>
<p class="d-flex justify-content-between validation-error">
    <small>{{formControl.value?.length}} / {{maxCharacters}}</small>
    <small *ngIf="formControl.errors?.['required'] && (formControl.dirty || formControl.touched)" class="validation-error-text">{{label}} is required</small>
</p>