<div class="card film-card m-2">
    <div class="card-header film-card-header">
        <h5 class="film-title-text-truncate" ngbTooltip="{{film.title}} ({{film.year}})">{{film.title}} ({{film.year}})</h5>
    </div>
    <img class="card-img-top film-card-image" src="{{film.images !== null && film.images !== undefined && film.images.length > 0 ? film.images[0].imageURL : ''}}" alt="Film image placeholder">
    <div class="card-body film-card-plot film-plot-text-truncate" [ngbTooltip]="(film.plot.length > 260 ? film.plot : '')">
        {{film.plot}}
    </div>
    <div class="card-footer film-card-footer text-end">
        <button id="{{film.id}}" (click)="onUpdate(this.film)"
            class="btn btn-primary float-right update-button"><fa-icon class="icon" [icon]="faPenToSquare"></fa-icon>Update</button>
        <button id="{{film.id}}" (click)="onDelete(this.film.id)"
            class="btn btn-danger float-right"><fa-icon class="icon" [icon]="faTrash"></fa-icon>Delete</button>
    </div>
</div>