<div class="card film-card m-2">
    <div class="card-header film-card-header" >
        <h5>Add Film</h5>
    </div>
    <div class="card-body film-card-add">
        <div class="mb-3">
            <app-validated-text-field label="Title" [maxCharacters]=100 defaultValue=""></app-validated-text-field>
            <app-validated-number-field label="Year" [minValue]="0" [maxValue]="9999" defaultValue=""></app-validated-number-field>
            <app-validated-textarea-field label="Plot" [maxCharacters]="300" defaultValue=""></app-validated-textarea-field>
        </div>
    </div>
    <div class="card-footer film-card-footer text-end">
        <button (click)="onAdd()" [disabled]="isSaveDisabled()" class="btn btn-primary"><fa-icon class="icon" [icon]="faFloppyDisk"></fa-icon>Save</button>
    </div>
</div>