.film-card-add {
    background-color: var(--cardBgColor);
    color: var(--textColor);
}

.validation-error {
    text-align: right;
    .validation-error-text {
        color: red
    }
}

.icon {
    margin-right: 0.3em;
}