$bgColor_light: white;
$bgColor_dark: #282828;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --cardBgColor: #00000008;
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
  --toolbarBgColor: #1976d2;
  --searchTextBoxBgColor: white;
  --formTextBoxBgColor: white;
}

@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --cardBgColor: #505050;
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
  --toolbarBgColor: #505050;
  --searchTextBoxBgColor: #282828;
  --formTextBoxBgColor: #505050;
}

body.dark {
  @include darken();
  background-color: #282828;
}
body.light {
  @include lighten();
}

.film-card {
  margin: 1em;
  width: 18rem;
  min-height: 36em;
}

.film-card-header {
  min-height: 5.5em;
  background-color: var(--cardBgColor);
  color: var(--textColor);
}

.film-card-footer {
  background-color: var(--cardBgColor);
  color: var(--textColor);
}

.film-form-control {
  background: var(--formTextBoxBgColor);
  color: var(--textColor);
}

.validation-error {
  text-align: right;
  .validation-error-text {
      color: red
  }
}