.search-bar {
    max-width: 56.1em;
    background: var(--searchTextBoxBgColor);
    color: var(--textColor);
}

.no-matches-text {
    margin-top: 2em;
    margin-left: 2em;
    color: var(--textColor);
}

.sort-by-control {
    padding-left: 0em;
  
    select {
        height: 38px;
        width: 100%;
        max-width: 9.4em;
        border: 1px solid #ced4da;
        background: var(--searchTextBoxBgColor);
        color: var(--textColor);
    }
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgColor);
    color: var(--textColor);
}