.film-title {
    margin-left: 0.2em;
}

.film-card {
    margin: 1em;
    width: 18rem; 
    min-height: 36em;
}

.film-card-header {
    min-height: 5.5em
}

.film-card-image {
    min-height: 190px; 
    max-height: 190px;
}

.update-button {
    margin-right: 0.3em;
}

.search-bar {
    max-width: 56.1em; 
    margin-left: 0.5em;
}

.validation-error-text {
    color:red
}