<h2>Films</h2>

<div class="d-flex flex-wrap">

    <div class="card film-card m-2" style="width: 18rem; min-height: 36em;">
        <div class="card-header">
            <h5>Add Film</h5>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="title">Title</label>
                <div class="input-group">
                    <input id="title" class="form-control" type="text" [formControl]="title" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button (click)="onAdd()" class="btn btn-primary">Save</button>      
        </div>
    </div>

    <div *ngFor="let film of filmsList">
        <div class="card film-card m-2" style="width: 18rem; min-height: 36em;">
            <div class="card-header" style="min-height: 5.5em">
                <h5>{{film.title}} ({{film.year}})</h5>
              </div>
            <img class="card-img-top" src="{{film.images[0].imageURL}}" alt="Card image cap" style="min-height: 190px; max-height: 190px">
            <div class="card-body">
                {{film.plot}}             
            </div>
            <div class="card-footer">
                <button id="{{film.id}}" (click)="onDelete(this.film.id)" class="btn btn-danger">Delete</button>
                <button id="{{film.id}}" (click)="onUpdate(this.film)" class="btn btn-primary">Update</button>
            </div>
        </div>

    </div>
</div>